<!DOCTYPE html>
<html>
  <head>
    <title>Lambadam</title>
    <meta name="google-site-verification" content="v9Swupo5A45oBtPwha27rFcPAqg9ONQNfn9ZIuWDcUQ" />
    <link rel="icon" href="<%= asset_path( 'icon.ico' ) %>">
    <%= csrf_meta_tags %>
    <meta charset="UTF-8"> <meta name=viewport content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navigation'  %>
    <%= render 'layouts/message' %>          
    <div class="container">
     <%= yield %>
    </div>
    <!--<%= debug(params) if Rails.env.development?  %>-->
    <%= render 'layouts/footer'  %>
  </body>
</html>
